*
  box-sizing: border-box
  font-size: 16px
  font-family: Open Sans
  color: #fff

body
  margin: 0
  padding: 0
  background-color: $t-color

.logo
  img
    width: 100%
    height: 100%
    object-fit: contain


.container
  margin: 0 auto
  max-width: 1200px

.big-container
  margin: 0 auto
  max-width: 1440px

.lang-box
  display: flex
  flex-direction: column
  align-items: start
  position: relative
  max-width: 55px

  font-style: normal
  font-weight: bold
  line-height: 16px
  letter-spacing: 0.1em
  text-transform: uppercase
  &__text
    font-size: 12px
  &__head
    display: flex
    align-items: center
    padding: 9px 8px
    cursor: pointer
    &:hover, &:focus
      .lang-box__arrow, .lang-box__text  
        fill: $t-hover
        color: $t-hover
        transition-duration: 0.5s
        transition-property: all
  &__arrow
    width: 12px
    height: 8px
    fill: #fff
    margin-left: 6px
  &__select
    height: 0
    overflow: hidden
    flex-direction: column
    list-style: none
    padding: 0
    margin: 0
    position: absolute
    top: 100%
    width: 100%
    background: rgba(0, 0, 0, 0.75)
    border-radius: 3px
    transition-duration: 0.5s
    transition-property: all  
    &--active
      height: auto
    &-item
      padding: 9px 8px
      cursor: pointer
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 16px
      letter-spacing: 0.1em
      text-transform: uppercase
      &:hover, &:focus
        color: $t-hover
        transition-duration: 0.5s
        transition-property: all 
      &[lang-box-status="selected"]
        display: none

.menu
  &__list
    display: flex
    justify-content: flex-start
    align-items: center
    list-style: none
    padding: 0
    margin: 0
  &__link
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 16px
    text-align: right
    letter-spacing: 0.1em
    text-transform: uppercase
    color: inherit
    text-decoration: none

    transition-duration: 0.5s
    transition-property: all
    &:hover, &:focus
      color: $t-hover 
  &__item:not(:last-child)
    margin-right: 48px

.title
  font-family: Bebas Neue
  font-style: normal
  font-weight: bold
  font-size: 80px
  line-height: 80px
  text-align: center
  letter-spacing: 3px
  text-transform: uppercase
  margin: 0

.subtitle
  font-family: Bebas Neue
  font-style: normal
  font-weight: 400
  font-size: 24px
  line-height: 24px
  letter-spacing: 2px
  text-align: center

.button
  margin: 0
  padding: 17px
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%)
  border: none
  border-radius: 4px
  outline: none

  display: flex
  align-items: center
  justify-content: space-between

  cursor: pointer
  &__caption
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px

    text-align: center

    color: $t-color

    margin-right: 11px
  &__cost
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px

    text-align: center

    color: $t-color

    padding-left: 14px

    border-left: 0.873968px solid rgba($t-color, 0.5)
    transform: matrix(1, 0, 0.04, 1, 0, 0)

.socials
    display: flex
    justify-content: flex-end
    align-items: center
    &__ico
      width: 25px
      height: 18px
      fill: #fff

      transition-duration: 0.5s
      transition-property: all
      &:hover, &:focus
        fill: #FF1313
    &__link
      &:not(:last-child)
        margin-right: 50px


